{{- if not (and .Values.existingDatabaseSecret .Values.existingStorageSecret .Values.existingEncryptionSecret .Values.existingJWTSecret .Values.existingLicenseSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mnemoshare-saas.secretsName" . }}
  labels:
    {{- include "mnemoshare-saas.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if not .Values.existingDatabaseSecret }}
  mongodb-uri: {{ required "database.uri is required" .Values.database.uri | quote }}
  {{- end }}
  {{- if not .Values.existingStorageSecret }}
  s3-access-key: {{ required "storage.accessKey is required" .Values.storage.accessKey | quote }}
  s3-secret-key: {{ required "storage.secretKey is required" .Values.storage.secretKey | quote }}
  {{- end }}
  {{- if not .Values.existingEncryptionSecret }}
  encryption-key: {{ required "encryption.key is required" .Values.encryption.key | quote }}
  {{- end }}
  {{- if not .Values.existingJWTSecret }}
  jwt-secret: {{ required "jwt.secret is required" .Values.jwt.secret | quote }}
  {{- end }}
  {{- if not .Values.existingLicenseSecret }}
  license-key: {{ required "license.key is required" .Values.license.key | quote }}
  {{- end }}
  {{- if and .Values.redis.url (not .Values.existingRedisSecret) }}
  redis-url: {{ .Values.redis.url | quote }}
  redis-password: {{ include "mnemoshare-saas.redisPassword" . | quote }}
  {{- end }}
{{- end }}
