{{- if or (not .Values.existingSecrets.mongodb) (not .Values.existingSecrets.postgres) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mnemoshare.fullname" . }}-secrets
  labels:
    {{- include "mnemoshare.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if and (eq .Values.database.driver "mongodb") (not .Values.existingSecrets.mongodb) }}
  mongodb-uri: {{ .Values.mongodb.external.uri | quote }}
  {{- end }}
  {{- if and (eq .Values.database.driver "postgres") (not .Values.existingSecrets.postgres) }}
  postgres-dsn: {{ .Values.postgres.dsn | quote }}
  {{- end }}
  s3-access-key: {{ .Values.s3.accessKey | quote }}
  s3-secret-key: {{ .Values.s3.secretKey | quote }}
  jwt-secret: {{ .Values.jwt.secret | quote }}
  encryption-key: {{ .Values.encryption.key | quote }}
  license-key: {{ .Values.license.key | quote }}
  {{- if .Values.sendgrid.apiKey }}
  sendgrid-api-key: {{ .Values.sendgrid.apiKey | quote }}
  {{- end }}
{{- end }}
