{{- if and .Values.workflowWorker.enabled .Values.workflowWorker.autoscaling.enabled }}
{{- $hasAuth := false }}
{{- $secretName := "" }}
{{- $secretKey := "redis-password" }}
{{- if .Values.redis.external.enabled }}
{{- if or .Values.redis.external.existingSecret .Values.existingSecrets.redis }}
{{- $hasAuth = true }}
{{- $secretName = (.Values.redis.external.existingSecret | default .Values.existingSecrets.redis) }}
{{- $secretKey = (.Values.existingSecretKeys.redisPassword | default "redis-password") }}
{{- end }}
{{- else }}
{{- if or .Values.redis.password .Values.redis.existingSecret }}
{{- $hasAuth = true }}
{{- if .Values.redis.existingSecret }}
{{- $secretName = .Values.redis.existingSecret }}
{{- else }}
{{- $secretName = (printf "%s-redis" (include "mnemoshare.fullname" .)) }}
{{- end }}
{{- end }}
{{- end }}
{{- if $hasAuth }}
apiVersion: keda.sh/v1alpha1
kind: TriggerAuthentication
metadata:
  name: {{ include "mnemoshare.fullname" . }}-redis-trigger-auth
  labels:
    {{- include "mnemoshare.labels" . | nindent 4 }}
    app.kubernetes.io/component: workflow-worker
spec:
  secretTargetRef:
  - parameter: password
    name: {{ $secretName }}
    key: {{ $secretKey }}
{{- end }}
{{- end }}
